<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Affordable and professional web design">
	<meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>Creative GAN| Welcome</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
          <div id="branding">
            <h1><span class="highlight">Creative</span>GAN</h1>
          </div>
          <nav>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li class="current"><a href="help.html">help</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <main>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta laboriosam impedit facilis reiciendis iure? Vitae sint velit nobis laborum nesciunt ea mollitia facilis voluptas ratione ducimus. Magnam totam consequuntur corrupti cumque tenetur suscipit consectetur reiciendis? Tempora aperiam dolore vero mollitia quasi exercitationem vel vitae, dolorum ipsam dolor soluta quos repellat odit. Fuga maxime doloremque, obcaecati fugiat veritatis libero amet rerum ab id eius molestias qui facere perferendis tempora rem ducimus. Facilis, qui, aliquid ut tempore vitae earum labore iusto eveniet officiis autem ipsam voluptate non vero in esse amet, ducimus praesentium pariatur voluptas mollitia eum odit nulla aut. Veniam, odio!</p>
    </main>
     <!--<footer class="bg-dark">
      <div class="footer" id="footer">
          <div class="container">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h1 class="footer-top"><span class="highlight">Creative</span>GAN</h1>
                  </div>  
      <div class="container">
            <p class="footer-bottom">CreativeGan, Copyright &copy; 2020</p>
      </div>
  </footer>-->
    
    
</body>
</html>